.Friend {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.Friend_box {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 2rem;
  height: 70vh;
}

.Friend_box_left {
  background-color: #40394A;
  border-radius: 1rem;
  overflow-y: scroll;
  padding: 1rem;
}

.Friend_box_right {
  background-color: #40394A;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow: hidden;
}


@media (max-width: 768px) {
  .Friend {
    width: 95%;
  }

  .Friend_box {
    grid-template-columns: 1fr;
    height: 80vh;
  }

  .Friend_box_left {
    display: block;
  }

  .Friend_box_right {
    display: none;
  }

  .active_chat .Friend_box_left {
    display: none;
  }

  .active_chat .Friend_box_right {
    display: flex;
  }
}